{% extends "layout.html"  %}

{% block content %}
<main>
    <div class="row g-8">
        <div class="py-12 text-center">
            <h3 class="mb-3">Formulario de registro</h3>
            <form class="needs-validation col-3 mx-auto" action="{{ url_for('procesa') }}" method="POST">
                <hr class="my-4">
                <div class="row g-3">
                    <div class="col-8">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>
    
                    <div class="col-12">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>
    
                    <div class="col-12">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="" required>
                        <div class="invalid-feedback">
                            Se requiere un dato válido.
                        </div>
                    </div>
    
                    <div class="col-12">
                          <input id="manana" name="turno" value="Mañana" type="radio" class="form-check-input" checked="" required>
                          <label class="form-check-label" for="manana">Mañana</label>
    
                          <input id="tarde" name="turno" value="Tarde" type="radio" class="form-check-input" required>
                          <label class="form-check-label" for="tarde">Tarde</label>
    
                          <input id="noche" name="turno" value="Noche" type="radio" class="form-check-input" required>
                          <label class="form-check-label" for="noche">Noche</label>
                    </div>
                </div>
                <hr class="my-4">
                <h3 class="mb-3">Seminarios Disponibles</h3>
                <div class="col-12">
                    <input type="checkbox" class="form-check-input" id="ia" name="seminario" value="Inteligencia Artificial">
                    <label class="form-check-label"  for="ia">Inteligencia Artificial</label><br>
                    <input type="checkbox" class="form-check-input" id="ml" name="seminario" value="Machine Learning">
                    <label class="form-check-label"  for="ml">Machine Learning</label><br>
                    <input type="checkbox" class="form-check-input" id="arena" name="seminario" value="Simulación con Arena">
                    <label class="form-check-label"  for="arena">Simulación con Arena</label><br>
                    <input type="checkbox" class="form-check-input" id="robotica" name="seminario" value="Robótica Educativa">
                    <label class="form-check-label"  for="robotica">Robótica Educativa</label>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}





